.float-resize {
    cursor: nwse-resize;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    background: #000; /* handle color */
}

.float {
    resize: both;
    overflow: hidden;
}